h1{
    font-size: 16px;
    font-weight: 400;
}

.salesReport-Title{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
}
.salesReport-dataSearches{
    margin-top: 40px;
}
.salesReport-dataSearch input{
    outline: none;
    border: 1px solid #8D8F93;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    padding: 0 10px;
    margin-top: 15px;
}
.salesReport-dataSearch{
    display: flex;
    gap: 4rem;
    width: 65%;
    margin-top: 30px;
}
.salesReport-data{
    width: 100%;
}

.newSale-table{
    margin-top: 50px;
    background-color: #f9f9f9;
    height: 520px;
    border-radius: 8px;
    padding: 5px 20px;
}

.searchBtn{
    margin-top: 40px;
    height: 50px;
    width: 30%;
    outline: none;
    border: none;
    background-color: #3B67FF;
    border-radius: 5px;
    color: white;
}