.purchaseReport-Title{
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
    
}


/* .purchaseReport-data{
    width: 100%;
}

.purchaseList{
    background-color: #f9f9f9;
    height: 520px;
    border-radius: 8px;
    margin-top: 40px;
    padding: 5px 20px;
}
table{
    margin-top: 40px;
} */