.ProductCard{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 150px;
    height: 100px;
   
}
.productName{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.price{
    text-align: center;
}