.manageProduct-head{
    display: flex;
    justify-content: space-between;
    
}


.manageProduct-Title{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
}
.addProductBtn{
    margin-top: 40px;
    height: 50px;
    padding: 10px 10px;
    width: 100%;
    outline: none;
    border: none;
    background-color: #3B67FF;
    border-radius: 5px;
    color: white;
}

.productListContainer {
    width: 100%;
    margin-top: 40px;
    border-left: 1px solid #e5e5e5 ;
    border-right: 1px solid #e5e5e5 ;
    border-bottom: 1px solid #e5e5e5 ;
    box-sizing: border-box;
    background-color: #f9f9f9 ;
    display: flex;
    flex-direction: column;
    height: 80vh;
  }
  .MuiDataGrid-columnHeader{
    background: #3B67FF;
    
    
  }
  .MuiDataGrid-columnHeaderTitle{
    font-family: "Bai Jamjuree" !important;
    font-size: 18px !important;
    padding: 10px ;
  }

  .MuiDataGrid-cell{
    font-family: "Bai Jamjuree" !important;
    font-weight: 500 !important ;
    font-size: 14px !important;
    
  }
  .productListHeading {
    
    font-size: 24px;
    padding: 0.8vmax;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.637);
    transition: all 0.5s;
    margin: 2rem;
    text-align: center;
  }
  
  .productListTable {
    background-color: white;
    border: none !important;
  }
  
  .productListTable div {
    font: 300 1vmax "Roboto";
    color: rgba(0, 0, 0, 0.678);
    border: none !important;
  }
  
  .productListTable a,
  .productListTable button {
    color: rgba(0, 0, 0, 0.527);
    transition: all 0.5s;
  }
  
  .productListTable a:hover {
    color: teal;
  }
  
  .productListTable button:hover {
    color: teal;
  }
  
  .MuiDataGrid-columnHeader div {
    color: rgb(255, 255, 255);
  }
  
  @media screen and (max-width: 600px) {
    .productListTable div {
      font: 300 4vw "Roboto";
    }
  }