.purchase-pageTitle{
    font-size: 18px;
    margin-top: 50px;
    color: #3B67FF;
    padding-bottom: 10px;
    border-bottom: 2.25px solid #3B67FF;
    width: 120px;
}

.selectProduct{
    font-size: 24px;
    margin-top: 50px;
    font-weight: 600;

}
.removeBtn{
    background-color: red;
    outline: none;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 5px 20px;

}

.purchase-products{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,0.15fr);
    gap: 4rem;
}



.purchase-details{

    margin-top: 40px;
}
.purchase-detail{
    display: flex;
    gap: 4rem;
    width: 65%;
    margin-top: 30px;
}

 h1{
    font-size: 16px;
    font-weight: 400;
    
}

.purchase-detail input{
    outline: none;
    border: 1px solid #8D8F93;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    padding: 0 10px;
    margin-top: 15px;
}

.purchase-data{
    width: 100%;
}

.purchase-table{
    margin-top: 50px;
}

.billBtn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.billBtn button{
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3B67FF;
    color: white;
}

.purchase-product{
    background-color: #f9f9f9;
    padding: 20px 40px;
    border-radius: 8px;
    height: 100px;
}